/* ===== Vetrina avanzata ===== */

.product-img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:16px;
    margin-bottom:15px;
    border:1px solid #333;
}

.format-label{
    display:block;
    color:#d4af37;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:8px;
}

.format-select{
    width:100%;
    background:#111;
    color:#fff;
    border:1px solid #d4af37;
    border-radius:12px;
    padding:13px;
    font-size:15px;
    outline:none;
}